# 반복문의 종류
- while,for

In [ ]:
# while
# 특정 조건을 만족하는 동안 반복해서 수행해야 하는 코드를 작성할 때 사용

'''
while 조건식 : 
    조건식이 참일 동안 반복실행할 명령 
'''

while True:
    print('Hello Python')

In [2]:
n=1

while n<=10:
    print(n,end=' ')
    n+=1

1 2 3 4 5 6 7 8 9 10

In [8]:
#10~1까지 거꾸로 출력하기

i=10

while i>=1:
    print(i,end=' ')
    i-=1
    
# while문이 필요한 경우 
# 내가 정확히 몇번을 반복할지 잘 모를 경우에도 사용할 수 있다. 

my_list=[]
n=int(input('정수를 입력하세요(종료는 0입니다.)'))

while n!=0:
    my_list.append(n)
    n=int(input('정수를 입력하세요(종료는 0입니다.)'))

print(my_list)

10 9 8 7 6 5 4 3 2 1 정수를 입력하세요(종료는 0입니다.)1
정수를 입력하세요(종료는 0입니다.)2
정수를 입력하세요(종료는 0입니다.)3
정수를 입력하세요(종료는 0입니다.)4
정수를 입력하세요(종료는 0입니다.)5
정수를 입력하세요(종료는 0입니다.)6
정수를 입력하세요(종료는 0입니다.)45
정수를 입력하세요(종료는 0입니다.)0
[1, 2, 3, 4, 5, 6, 45]

In [14]:
# while문의 중첩
# 반복을 처리해야 하는 대상이 2개 이상이면 while문의 중첩이 필요하다. 
'''
while True:
    while True:
        while True:
'''
# 거의 2중첩 까지만 사용한다.


# 5일동안 하루에 3시간씩 수업을 한다.
# 매시간마다 1일 1교시 입니다. ~5일 3교시 입니다. 라는 메세지를 출력하려고 한다.

day=1


while day<=5:
    time=1
    print(f'============{day}일=============')
    while time<=3:
        print(f'{day}일 {time}교시 입니다.')
        time+=1
    day+=1

============1일=============
1일 1교시 입니다.
1일 2교시 입니다.
1일 3교시 입니다.
============2일=============
2일 1교시 입니다.
2일 2교시 입니다.
2일 3교시 입니다.
============3일=============
3일 1교시 입니다.
3일 2교시 입니다.
3일 3교시 입니다.
============4일=============
4일 1교시 입니다.
4일 2교시 입니다.
4일 3교시 입니다.
============5일=============
5일 1교시 입니다.
5일 2교시 입니다.
5일 3교시 입니다.

In [21]:
# 구구단 

dan=2

while dan<=9:
    n=1
    print(f'========== {dan}단 ==========')
    while n<=9:
        print(f'     {dan} × {n} = {dan*n}')
        n+=1
    dan+=1

========== 2단 ==========
     2 × 1 = 2
     2 × 2 = 4
     2 × 3 = 6
     2 × 4 = 8
     2 × 5 = 10
     2 × 6 = 12
     2 × 7 = 14
     2 × 8 = 16
     2 × 9 = 18
========== 3단 ==========
     3 × 1 = 3
     3 × 2 = 6
     3 × 3 = 9
     3 × 4 = 12
     3 × 5 = 15
     3 × 6 = 18
     3 × 7 = 21
     3 × 8 = 24
     3 × 9 = 27
========== 4단 ==========
     4 × 1 = 4
     4 × 2 = 8
     4 × 3 = 12
     4 × 4 = 16
     4 × 5 = 20
     4 × 6 = 24
     4 × 7 = 28
     4 × 8 = 32
     4 × 9 = 36
========== 5단 ==========
     5 × 1 = 5
     5 × 2 = 10
     5 × 3 = 15
     5 × 4 = 20
     5 × 5 = 25
     5 × 6 = 30
     5 × 7 = 35
     5 × 8 = 40
     5 × 9 = 45
========== 6단 ==========
     6 × 1 = 6
     6 × 2 = 12
     6 × 3 = 18
     6 × 4 = 24
     6 × 5 = 30
     6 × 6 = 36
     6 × 7 = 42
     6 × 8 = 48
     6 × 9 = 54
========== 7단 ==========
     7 × 1 = 7
     7 × 2 = 14
     7 × 3 = 21
     7 × 4 = 28
     7 × 5 = 35
     7 × 6 = 42
     7 × 7 = 49
     7 × 8 = 56
     7 × 9 = 63
========== 8단 ==========
     8 × 1 = 8
     8 × 2 = 16
     8 × 3 = 24
     8 × 4 = 32
     8 × 5 = 40
     8 × 6 = 48
     8 × 7 = 56
     8 × 8 = 64
     8 × 9 = 72
========== 9단 ==========
     9 × 1 = 9
     9 × 2 = 18
     9 × 3 = 27
     9 × 4 = 36
     9 × 5 = 45
     9 × 6 = 54
     9 × 7 = 63
     9 × 8 = 72
     9 × 9 = 81

In [28]:
# 정수를 입력받고 그 횟수만큼 'hello'를 출력하는 프로그램 구현하기
# 0 이하의 값이 입력되면 '잘못된 입력입니다,'라고 출력하기

n=int(input('정수를 입력하세요>>>')) # 마지막 횟수

i=1
if(n>0):
        while i<=n:
            print(f'hello, {i}번 \n')
            i+=1
else:
    print("잘못된 입력입니다.")

정수를 입력하세요>>>7
hello, 1번

hello, 2번

hello, 3번

hello, 4번

hello, 5번

hello, 6번

hello, 7번

In [32]:
# 1~100 사이의 모든 정수 중에서 7의 배수만 출력하는 프로그램 구현하기 

i=1

while i<=100:
    if i % 7 == 0 :
        print(i,end=' ')
    i+=1

7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [38]:
# 커피 1잔을 300원에 판매하는 커피자판기가 있습니다.
# 이 커피 자판기에 돈을 넣으면 자판기에서 뽑을 수 있는 
# 커피가 몇 잔이며 잔돈은 얼마인지 함께 출력하는 프로그램 구현하기 
'''
자판기에 얼마를 넣을까요>>> 1400
커피 1잔, 잔돈 1100원
커피 2잔, 잔돈 800원
커피 3잔, 잔돈 500원
커피 4잔, 잔돈 200원
'''
'''
## 예시 정답 
i=1

price=int(input('자판기에 얼마를 넣을까요>>>'))

while price>=300:
    price-=300
    print(f'커피 {i}잔, 잔돈 {price}원')
    i+=1
    '''


coffee=300
i=1

price=int(input('자판기에 얼마를 넣을까요>>>'))

while price>=0: # 오류:: 잔돈은 300원 이상이어야 함. (안그럼 300원씩 까이니까 -가 될 가능성 있음 )
    price-=(coffee)
    print(f'커피 {i}잔, 잔돈 {price}원')
    i+=1

자판기에 얼마를 넣을까요>>>1400
커피 1잔, 잔돈 1100원
커피 2잔, 잔돈 800원
커피 3잔, 잔돈 500원
커피 4잔, 잔돈 200원
커피 5잔, 잔돈 -100원

In [43]:
# for 
# 값의 범위나 횟수가 정해져 있을 때 사용하는 반복문

'''
for 변수 in 반복가능객체(문자열, 컬렉션):
    반복하고자 하는 명령
'''

s= [1,2,3,4,5]

for i in s :
    print(i, end=' ')

print()
    
for i in 'hello' :
    print(i, end= ' ')

1 2 3 4 5
h e l l o

In [49]:
pwd=input("비밀번호를 입력하세요>>>")

# ~의 개수를 판단해라
# 개수를 셀 변수를 하나 설정해라. ex) count=0, num_count=0 

ch_count=0
num_count=0

for i in pwd:
    if i.isalpha() : # isalpha() : 들어온 데이터가 문자면 True, 아니면 False
        ch_count+=1
    elif i.isnumeric(): # isnumeric() : 들어온 데이터가 숫자면 True, 아니면 False
        num_count+=1
        
print(f'숫자 : {num_count}개, 문자 : {ch_count} 개')

if(ch_count>0) and (num_count>0) :
    print('가능한 비밀번호입니다. ')
else:
    print('불가능한 비밀번호입니다.')

비밀번호를 입력하세요>>>82gustmd
숫자 : 2개, 문자 : 6 개
가능한 비밀번호입니다.

In [54]:
# range()
'''
range(초기값, 종료값, 증감값) # 종료값은 미만값!!

1. 초기값 <= n < 종료값
2. 초기값을 생략하면 0부터 시작
3. 종료값은 생략할 수 없습니다.
4. 증감값을 생략하면 1씩 증가.

range(5) : 0, 1, 2, 3, 4
range(1,11) : 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
range(0,11,2) : 0, 2, 4, 6, 8, 10
range(1,10,2) : 1, 3, 5, 7, 9

'''
print(list(range(5)))
      
for i in range(1000):
      print(i, end=' ')

[0, 1, 2, 3, 4]
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998 999